@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --easing-common: linear(
    0,
    0,
    0.0001,
    0.0002,
    0.0003,
    0.0005,
    0.0007,
    0.001,
    0.0013,
    0.0016,
    0.002,
    0.0024,
    0.0029,
    0.0033,
    0.0039,
    0.0044,
    0.005,
    0.0057,
    0.0063,
    0.007,
    0.0079,
    0.0086,
    0.0094,
    0.0103,
    0.0112,
    0.0121,
    0.0132 1.84%,
    0.0153,
    0.0175,
    0.0201,
    0.0226,
    0.0253,
    0.0283,
    0.0313,
    0.0345,
    0.038,
    0.0416,
    0.0454,
    0.0493,
    0.0535,
    0.0576,
    0.0621,
    0.0667,
    0.0714,
    0.0764,
    0.0816 5.04%,
    0.0897,
    0.098 5.62%,
    0.1071,
    0.1165,
    0.1263 6.56%,
    0.137,
    0.1481 7.25%,
    0.1601 7.62%,
    0.1706 7.94%,
    0.1819 8.28%,
    0.194,
    0.2068 9.02%,
    0.2331 9.79%,
    0.2898 11.44%,
    0.3151 12.18%,
    0.3412 12.95%,
    0.3533,
    0.365 13.66%,
    0.3786,
    0.3918,
    0.4045,
    0.4167,
    0.4288,
    0.4405,
    0.452,
    0.4631 16.72%,
    0.4759,
    0.4884,
    0.5005,
    0.5124,
    0.5242,
    0.5354,
    0.5467,
    0.5576,
    0.5686,
    0.5791,
    0.5894,
    0.5995,
    0.6094,
    0.6194,
    0.6289,
    0.6385,
    0.6477,
    0.6569,
    0.6659 24.45%,
    0.6702,
    0.6747,
    0.6789,
    0.6833,
    0.6877,
    0.6919,
    0.696,
    0.7002,
    0.7043,
    0.7084,
    0.7125,
    0.7165,
    0.7205,
    0.7244,
    0.7283,
    0.7321,
    0.7358,
    0.7396,
    0.7433,
    0.7471,
    0.7507,
    0.7544,
    0.7579,
    0.7615,
    0.7649,
    0.7685,
    0.7718,
    0.7752,
    0.7786,
    0.782,
    0.7853,
    0.7885,
    0.7918,
    0.7951,
    0.7982,
    0.8013,
    0.8043,
    0.8075,
    0.8104,
    0.8135,
    0.8165,
    0.8195,
    0.8224,
    0.8253,
    0.8281,
    0.8309,
    0.8336,
    0.8365,
    0.8391,
    0.8419,
    0.8446,
    0.8472,
    0.8499,
    0.8524,
    0.855,
    0.8575,
    0.8599,
    0.8625 37.27%,
    0.8651,
    0.8678,
    0.8703,
    0.8729,
    0.8754,
    0.8779,
    0.8803,
    0.8827,
    0.8851,
    0.8875,
    0.8898,
    0.892,
    0.8942,
    0.8965,
    0.8987,
    0.9009,
    0.903,
    0.9051,
    0.9071,
    0.9092,
    0.9112,
    0.9132,
    0.9151,
    0.9171,
    0.919,
    0.9209,
    0.9227,
    0.9245,
    0.9262,
    0.928,
    0.9297,
    0.9314,
    0.9331,
    0.9347,
    0.9364,
    0.9379,
    0.9395,
    0.941,
    0.9425,
    0.944,
    0.9454,
    0.9469,
    0.9483,
    0.9497,
    0.951,
    0.9524,
    0.9537,
    0.955,
    0.9562,
    0.9574,
    0.9586,
    0.9599,
    0.961,
    0.9622,
    0.9633,
    0.9644,
    0.9655,
    0.9665,
    0.9676,
    0.9686,
    0.9696,
    0.9705,
    0.9715,
    0.9724,
    0.9733,
    0.9742,
    0.975,
    0.9758,
    0.9766,
    0.9774,
    0.9782,
    0.9789,
    0.9796,
    0.9804,
    0.9811,
    0.9817,
    0.9824,
    0.9831,
    0.9837,
    0.9843,
    0.9849,
    0.9855,
    0.986,
    0.9866,
    0.9871,
    0.9877,
    0.9882,
    0.9887,
    0.9892,
    0.9896 70.56%,
    0.9905 71.67%,
    0.9914 72.82%,
    0.9922,
    0.9929 75.2%,
    0.9936 76.43%,
    0.9942 77.71%,
    0.9948 79.03%,
    0.9954 80.39%,
    0.9959 81.81%,
    0.9963 83.28%,
    0.9968 84.82%,
    0.9972 86.41%,
    0.9975 88.07%,
    0.9979 89.81%,
    0.9982 91.64%,
    0.9984 93.56%,
    0.9987 95.58%,
    0.9989 97.72%,
    0.9991
  );
  --sidebar-inline-padding: 1rem;
  --sidebar-mask: linear-gradient(
    90deg,
    #000,
    #000 84%,
    transparent 89%,
    transparent
  );
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;
}

html {
  --main-surface-background: hsla(0, 0%, 100%, 0.95);
  --composer-surface: hsla(0, 0%, 94%, 0.9);
  --dot-color: var(--black);
  --text-primary: var(--gray-950);
  --text-secondary: #5d5d5d;
  --text-tertiary: var(--gray-400);
  --text-quaternary: var(--gray-300);
  --tag-blue: #08f;
  --tag-blue-light: #0af;
  --text-error: #f93a37;
  --text-placeholder: rgba(0, 0, 0, 0.7);
  --surface-error: 249 58 55;
  --border-xlight: rgb(0 0 0 / 5%);
  --border-light: rgba(0, 0, 0, 0.1);
  --border-medium: rgba(0, 0, 0, 0.15);
  --border-heavy: rgba(0, 0, 0, 0.2);
  --border-xheavy: rgba(0, 0, 0, 0.25);
  --hint-text: #08f;
  --hint-bg: #b3dbff;
  --border-sharp: rgb(0 0 0 / 5%);
  --icon-secondary: #676767;
  --main-surface-primary: var(--white);
  --main-surface-secondary: var(--gray-50);
  --main-surface-tertiary: var(--gray-100);
  --sidebar-surface-primary: var(--gray-50);
  --sidebar-surface-secondary: var(--gray-100);
  --sidebar-surface-tertiary: var(--gray-200);
  --sidebar-title-primary: rgba(40, 40, 40, 0.5);
  --link: #2964aa;
  --link-hover: #749ac8;
  --selection: #007aff;
}

.dark {
  --main-surface-background: rgba(33, 33, 33, 0.9);
  --dot-color: var(--white);
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-400);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-600);
  --text-placeholder: hsla(0, 0%, 100%, 0.8);
  --text-error: #f93a37;
  --border-xlight: hsla(0, 0%, 100%, 0.05);
  --border-light: hsla(0, 0%, 100%, 0.1);
  --border-medium: hsla(0, 0%, 100%, 0.15);
  --border-heavy: hsla(0, 0%, 100%, 0.2);
  --border-xheavy: hsla(0, 0%, 100%, 0.25);
  --border-sharp: hsla(0, 0%, 100%, 0.05);
  --main-surface-primary: var(--gray-800);
  --main-surface-secondary: var(--gray-750);
  --main-surface-tertiary: var(--gray-700);
  --sidebar-surface-primary: var(--gray-900);
  --sidebar-surface-secondary: var(--gray-800);
  --sidebar-surface-tertiary: var(--gray-750);
  --link: #7ab7ff;
  --link-hover: #5e83b3;
  --surface-error: 249 58 55;
  --composer-surface: rgba(50, 50, 50, 0.8);
}

html,
body {
  color: var(--text-primary);
  background: var(--main-surface-primary);
  font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
